POSTGRES_DB=appointments
POSTGRES_USER=appointments
POSTGRES_PASSWORD=appointments
DATABASE_URL=jdbc:postgresql://postgres:5432/appointments
DATABASE_USERNAME=appointments
DATABASE_PASSWORD=appointments
REDIS_HOST=redis
REDIS_PORT=6379
ELASTICSEARCH_URIS=http://elasticsearch:9200
CORS_ALLOWED_ORIGINS=http://localhost:3000
